@model BookGUI.ViewModels.CountryAuthorsViewModel
@{
    ViewData["Title"] = "Detail";
}

<h4>@ViewBag.Message</h4>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    <h2>Country Detail</h2>
    <br/>
    <div>
        <p>
            <strong>Country Name:</strong> @Model.Country.Name      
        </p>
    </div>
    <br/>
    <div>
        <p><strong>List of Author's</strong></p>
        @foreach (var item in Model.Authors)
        {
            <p>@item.LastName, @item.FirstName</p>
            <a class="btn btn-small btn-success" asp-controller="Authors" asp-action="GetAuthorById" asp-route-authorId="@item.Id">Author Details</a>
            <a class="btn btn-small btn-danger" asp-controller="Authors" asp-action="Delete" asp-route-authorId="@item.Id">Delete</a>
        }       
    </div>
    <form class="form-group text-center">
            <a class="btn btn-sm btn-success" asp-controller="Countries" asp-action="Index">Go Back</a>
            <a class="btn btn-sm btn-primary" asp-controller="Countries" asp-action="Edit" asp-route-countryId="@Model.Country.Id">Edit</a>
            <a class="btn btn-sm btn-danger" asp-controller="Countries" asp-action="Delete" asp-route-countryId="@Model.Country.Id">Delete</a>
        </form>
</div>
