@model BookGUI.ViewModels.AuthorBooksCategoriesViewModel
@{
    ViewData["Title"] = "GetAuthorById";
}

<h2>Author Details</h2>

<div>
    <h4>@ViewBag.Message</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

<div>
    <p><strong>Author's Name: </strong>@Model.Author.LastName, @Model.Author.FirstName</p>
    <p><strong>Author's Country: </strong>@Model.Country.Name
    <span>
        <a class="btn btn-small btn-success" asp-controller="Countries" asp-action="Detail" asp-route-countryId="@Model.Country.Id">Country Details</a>
        <a class="btn btn-small btn-danger" asp-controller="Countries" asp-action="Delete" asp-route-country="@Model.Country.Id">Delete</a>
    </span></p>
</div>
<br/>
<div>
    <h4>@ViewBag.BookMessage</h4>
    @foreach (var book in Model.BookCategories)
    {
        <p><strong>Book Title</strong></p>@book.Key.Title        
        <span>
            <a class="btn btn-small btn-success" asp-controller="Home" asp-action="GetBookById" asp-route-bookId="@book.Key.Id">Book Details</a>
            <a class="btn btn-small btn-danger" asp-controller="Home" asp-action="Delete" asp-route-bookId="@book.Key.Id">Delete</a>
        </span>
        <table>
            <tr>
                <th style="float:left; margin-right:15px; "> Category:
                </th>
                <th></th>
                <th></th>
                @foreach (var category in book.Value)
                {
                    <td style="float:left; margin-right:15px;">@category.Name
                        <a class="btn btn-small btn-success" asp-controller="Categories" asp-action="Detail" asp-route-categoryId="@book.Key.Id">Category Details</a>
                        <a class="btn btn-small btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-categoryId="@book.Key.Id">Delete</a>
                    </td>
                    
                }     
            </tr>
        </table>  
    }  
</div>

<div>
      <form class="form-group text-center">
        <a class="btn btn-small btn-success" asp-controller="Authors" asp-action="Index">Go Back</a>
        <a class="btn btn-small btn-primary" asp-controller="Authors" asp-action="Edit" asp-route-authorId="@Model.Author.Id" asp-route-countryId="@Model.Country.Id">Edit</a>
        <a class="btn btn-small btn-danger" asp-controller="Authors" asp-action="Delete" asp-route-authorId="@Model.Author.Id">Delete</a>
    </form>
</div>