@model BookGUI.ViewModels.ReviewReviewerBook
@{
    ViewData["Title"] = "GetReviewById";
}

<h2>Review for @Model.Book.Title</h2>
<div>
    <h3>@ViewBag.Message</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

<div>
    <p><strong>Reviewer: </strong></p> @Model.Reviewer.LastName, @Model.Reviewer.FirstName
    <span>
         <a class="btn btn-small btn-success" asp-controller="Reviewers" asp-action="DetailReviewer"
                   asp-route-reviewerId="@Model.Reviewer.Id">Reviewer Details</a>
         <a class="btn btn-small btn-danger" asp-controller="Home" asp-action="Delete"
                   asp-route-reviewerId="@Model.Reviewer.Id">Delete</a>
    </span>    
    <p><strong>Title: </strong></p> @Model.Book.Title
    <span>
         <a class="btn btn-small btn-success" asp-controller="Home" asp-action="GetBookById"
                   asp-route-bookId="@Model.Book.Id">Book Details</a>
         <a class="btn btn-small btn-danger" asp-controller="Home" asp-action="Delete"
                   asp-route-bookId="@Model.Book.Id">Delete</a>
    </span> 
    <p><strong>Headline: </strong></p> @Model.Review.HeadLine
    <p><strong>Rating: </strong></p> @Model.Review.Rating
    <p><strong>Review: </strong></p> @Model.Review.ReviewText

    <form class="form-group text-center">
        <a class="btn btn-sm btn-success" asp-controller="Reviews" asp-action="Index">Go back</a>
        <a class="btn btn-sm btn-primary" asp-controller="Reviews" asp-action="Edit" asp-route-reviewId="@Model.Review.Id">Edit</a>
        <a class="btn btn-sm btn-danger" asp-controller="Reviews" asp-action="Delete" asp-route-reviewId="@Model.Review.Id">Delete</a>
    </form>
</div>